<a href="/">Back To Home Page</a> <h2>Are you sure you want to delete your account? This will also delete all your posts, comments, and upvotes</h2>
<h3>Enter your login information to delete your account</h3>
<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-login" placeholder="example@mail.com" autocomplete="off"/>
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" placeholder="Password" autocomplete="off"/>
  </div>
  <div>
    <button type="submit" id="delete-btn" class="delete-btn-style">Delete</button>
  </div>
</form>
<script src="/javascript/delete-account.js"></script>